{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock head %}
{% block content %}
<p>{{ message }}</p>
<form method="post">

  {% csrf_token %}
  <label for="{{ form.username.id_for_label }}">Email:</label>
  {{ form.username }} {# Display the username (or email) input field #}
  {{ form.password.label_tag }} {# Display the label for the password field #}
  {{ form.password }} {# Display the password input field #}
  <button type="submit">Se connecter</button>

</form>
<a href="{% url 'signup' %}">Sinscrire ici</a>
{% endblock content %}