{% extends 'base.html' %} {% block content %}
<h1 class="text-center">Mes Tickets</h1>

{% for ticket in tickets %}


<div class="container card w-75 w-md-50 mb-3">
  <div class="card-body">
    <h4 class="card-title mb-5">{{ticket.title}}</h4>

    <div class="row">


      <img class="col-3 img-thumbnail" src="{{ ticket.image.file.url }}" alt="{{ ticket.image.caption }}"
        style="width:160" />
      <p class="col card-text align-self-center">{{ticket.description}}</p>
    </div>


    <div class="d-flex justify-content-end mt-5">

      <a class="btn btn-outline-info w-50 w-md-25 " href="{% url 'edit_ticket' ticket_id=ticket.id %}">Editer</a>
      <a class="btn btn-outline-danger w-50 w-md-25" href="{% url 'delete_ticket' ticket_id=ticket.id %}">Supprimer</a>

    </div>
  </div>

  <div class="card-footer text-muted border-top">
    {{ ticket.time_created|timesince }}
  </div>
</div>

{% endfor %}


{% endblock %}