{% extends 'base.html' %}
{% block content %}


{% for ticket in page_obj.object_list %}


<div class="container card w-75 w-md-50 my-3">
 <div class="card-body">
  <p>
   <img class="rounded-100" style="width: 35px"
    src="https://static-00.iconduck.com/assets.00/profile-circle-icon-2048x2048-cqe5466q.png" alt="profile_pic">
   <span class="ms-2">
    {{ticket.user.username}}
   </span>
  </p>
  <h4 class="card-title mb-5">{{ticket.title}}</h4>

  <div class="row">
   <img class="col-3 img-thumbnail" src="{{ ticket.image.file.url }}" alt="{{ ticket.image.caption }}"
    style="width:160" />
   <p class="col card-text align-self-center">{{ticket.description}}</p>
  </div>

  <div class="d-flex justify-content-end mt-5">

   <a class="btn btn-outline-info w-50 w-md-25 " href="{% url 'ticket_detail' ticket_id=ticket.id %}">Détail</a>

  </div>

  <div class="card-footer text-muted border-top">
   {{ ticket.time_created|timesince }}
  </div>
 </div>
</div>

{% endfor %}

{% endblock content %}