{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container card my-3">
  <div class="card-body">
    <div class="container">
      <h1 class="text-center my-3">Ticket Detail</h1>

      <div class="row">
        <img class="col-3 mx-3 img-thumbnail" src="{{ ticket.image.file.url }}" alt="{{ ticket.image.caption }}"
          style="width:160" />
        <div class="col">

          <h4 class="card-title mb-1">{{ticket.title|title}}</h4>
          <span>

            <div class="ratings d-flex justify-content-start align-items-center ">
              <div class="ratings">
                {% for _ in "12345"  %}
                {% if forloop.counter0 < ticket.avg_rating %}
                <i class="fa fa-star rating-color"></i>
                {% else %}

                <i class="fa fa-star"></i>
                {% endif %}
                {% endfor %}
              </div>
              <span class="review-count">({{ticket.avg_rating}})</span>
              <span class="review-count ms-2">- {{ticket.review_count}} commentaire(s)</span>
            </div>
          </span>
          <p class="col card-text align-self-center mt-3">

            {{ticket.description|truncatechars:250}}</p>
        </div>
      </div>


    </div>
  </div>
  <div>
    <form method="post">
      {% csrf_token %}

      {{ form|crispy}}

      <div class="d-flex justify-content-end">
        <button class="btn btn-outline-success " name="edit" type="submit">Sauvegarder Critique</button>
        <button class="btn btn-outline-danger " name="delete" type="submit">Supprimer Critique</button>

      </div>

    </form>
  </div>
</div>





{% endblock %}